@font-face{font-family:'Ethnocentric';src:url('/fonts/ethnocentric.woff2') format('woff2');font-weight:normal;font-style:normal;font-display:swap}
@font-face{font-family:'Conthrax';src:url('/fonts/conthrax.woff2') format('woff2');font-weight:normal;font-style:normal;font-display:swap}
@font-face{font-family:'ArialNova';src:url('/fonts/arialnova.woff2') format('woff2');font-weight:normal;font-style:normal;font-display:swap}
